.Form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    justify-content: center;
    margin: 100px;
    border-color: black;
    color: black;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: white;
    border: 5px;
    border-style:groove;

}

.Input1{
    display: flex;
    padding: 10px;
    height: 50px;
    width: 300px;
    margin-block-end: 15px;
    font-size: 20px;
    text-align:start;
    margin-top: 50px;
    border-radius: 5px;
}

.Input2{
    display: flex;
    padding: 10px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    text-align:start;
    border-radius: 5px;
}
.Button{
    margin-top: 15px;
    margin-block-end: 10px;
}
.fundo{
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}

