*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
h1{
    background-color: #E8F7EE
}

.section {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F7EE
    

}
.container {
    max-width: 74vw;
}
.container .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    border: #A404BE solid;
    box-shadow: 0 0 1em #1e1e1e;
}
.container .carousel .item {
    background-color: white;
    flex: none;
    gap: 15px;
    padding: 10px;
    width: 280px;
  
}
.container .carousel .item .image img{
    width: 260px;
    height: 400px;
    object-fit: cover;
}

.container .carousel .item .info {
    margin: 10px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .carousel .item .info span {
    display: block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
   
}

.container .carousel .item .info .title {
    font-size: 1.0rem;
    font-weight: bold;
    margin: 10px 0;
    
}
.container .carousel .item .info .price {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bold;
    background-color: blueviolet;
    text-decoration: none;
}
.container .buttons{
    width: 100%;
    text-align: center;
}
.container .buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container .buttons button:first-child img {
    transform: rotate(180deg);
}

.container .carousel::-webkit-scrollbar{
    display: none;
}

.buttonsSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E8F7EE   
    
}

.btnStyle {
    background-color: blueviolet;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
}
.card1{
    background-color: #E8F7EE
}

.card2{
    background-color: #E8F7EE
}