.NavBar{
    height: 80px;
    /*margin: 1% 1% 1% 1%;*/
    background-color: #A404BE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SearchBar{
    
    height: 30px;
    width: 700px;
    font-size: 25px;
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
}


.FormSearchBar{
    display: flex;
   
}
.ButtonForm{
    background-color:white;
    padding: 2px, 8px;
    border: none
}

.button{
    padding: 2px;
    width: 70px;
    cursor: pointer;
    }

.departamentos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    font-size: 8px;
    color: #E8F7EE;
    margin: 2px;

}

.user{
    display: flex;
    gap: 10px;
}

.btnCad {
    border-radius: 5px;
    padding: 5px;
    background-color: #E8F7EE;
    cursor: pointer;
    margin-top: 20px;
    color: #A404BE;
    font-weight: bold;
    
}
.btnLog {
    border-radius: 5px;
    padding: 5px;
    background-color: #E8F7EE;
    cursor: pointer;
    margin-top: 20px;
    color: #A404BE;
    font-weight: bold;
    
}
.link {
    text-decoration: none;

}
.logo {
    height: 200px;
    margin-top: 55px;
}

.lupa {
    height: 20px;

}

.cadastrar {
    height: 25px;
}

.login {
    height: 25px;
}