.NavBar{
    height: 80px;
    background-color: #A404BE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SearchBar{
    height: 30px;
    width: 700px;
    font-size: 25px;
    border-radius: 2px;
    background: white;
    border: 1px solid #f2f2f2;
    color: #757575;
    font-size: 17px;
    text-align: justify;
}
.FormSearchBar{
    display: flex;   
}
.ButtonForm{
    background-color:white;
    padding: 2px, 8px;
    border: none
}
.button{
    padding: 2px;
    width: 70px;
    cursor: pointer;
    border: none;
    padding: 0px;
    background-color: white;
    }
.departamentos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    font-size: 8px;
    color: #E8F7EE;
    margin: 2px;

}

.user{
    display: flex;
    gap: 10px;
}
.btnLog,
.btnCad {
    border-radius: 5px;
    padding: 5px;
    background-color: #E8F7EE;
    cursor: pointer;
    margin-top: 20px;
    color: #A404BE;
    font-weight: bold;
    
}
.link {
    text-decoration: none;

}
.logo {
    height: 200px;
    margin-top: 55px;
}

.lupa {
    height: 18px;

}

.cadastrar {
    height: 25px;
}

.login {
    height: 25px;
}
@media screen and (min-width: 330px) and (max-width: 374px){
    .SearchBar{
        height: 30px;
        width: 180px;
        font-size: 25px;
        border-radius: 2px;  
    }
    .btnCad {
        border-radius: 5px;
        height: 30px;
        
    }
    .departamentos{
        font-size: 5px;
    }
    .logo {
        height: 100px;
        margin-top: 33px;
    }
    .cadastrar,
    .login {
        height: 15px;
        font-size: 5px;
    }
    .btnLog,
    .btnCad {
    font-size: 10px;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;
    width: 35px;
}

}
@media screen and (min-width: 375px) and (max-width: 399px){
    .SearchBar{
        height: 40px;
        width: 180px;
        font-size: 25px;
        border-radius: 2px; 
        font-size: 20px; 
    }
    .btnCad {
        border-radius: 5px;
        height: 30px;    
    }
    .departamentos{
        font-size: 5px;
        width: 200px;
    }
    .logo {
        height: 120px;
        margin-top: 33px;
    }
    .cadastrar,
    .login {
        height: 15px;
        font-size: 5px;
    }
    .btnLog,
    .btnCad {
    font-size: 10px;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;
    width: 25px;
}

}
@media screen and (min-width: 400px) and (max-width: 450px){
    .SearchBar{
        height: 30px;
        width: 180px;
        font-size: 25px;
        border-radius: 2px;  
    }
    .btnCad {
        border-radius: 5px;
        height: 30px;    
    }
    .departamentos{
        font-size: 5px;
        width: 200px;
    }
    .logo {
        height: 110px;
        margin-top: 33px;
    }
    .cadastrar,
    .login {
        height: 15px;
        font-size: 5px;
    }
    .btnLog,
    .btnCad {
    font-size: 10px;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;
    width: 35px;
}
}
@media screen and (min-width: 500px) and (max-width: 800px){
    .SearchBar{
        height: 30px;
        width: 400px;
        font-size: 25px;
        border-radius: 2px;  
    }
    .btnCad {
        border-radius: 5px;
        height: 30px;    
    }
    .departamentos{
        font-size: 10px;
    }
    .logo {
        height: 120px;
        margin-top: 33px;
    }
    .cadastrar,
    .login {
        height: 15px;
        font-size: 5px;
    }
    .btnLog,
    .btnCad {
    font-size: 10px;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10px;
    width: 35px;
}
.NavBar{
    display: flex;
    justify-content:space-around;
    width: 630px;
}

}