.Body{
    margin-block-end: 50px;
    display: flex;

    align-items: center;
    justify-content: center;
}
.fundoCad{
    height: 820px;
}
.fundo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo {
    background-color: white ;
}

.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    justify-content: center;
    border: #A404BE solid;
    box-shadow: 0 0 1em #1e1e1e; 
    border-radius: 15px;  
    color: black;
    margin-top: 75px;
    margin-left: 40%;
    margin-right: 40%;
    margin-block-end: 40px;
    background-color: white;
    border: 5px;
    border-style:groove;

}

.Input1{
    display: flex;
    
    height: 50px;
    width: 300px;
    
    font-size: 20px;
    text-align:start;
    margin-top: 50px;
    border-radius: 5px;
}

.Input2{
    display: flex;
    
    height: 50px;
    width: 300px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align:start;
    margin-top: 20px;
    border-radius: 5px;

}

.Input3{
    display: flex;
    
    height: 50px;
    width: 300px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align:start;
    margin-top: 20px;
    border-radius: 5px;

}
.Input4{
    display: flex;

    height: 50px;
    width: 300px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align:start;
    margin-top: 20px;
    border-radius: 5px;
    border-radius: 5px;


}

.Input5{
    display: flex;
    margin-bottom: 15px;
    height: 50px;
    width: 300px;
    
    font-size: 20px;
    text-align:start;
    margin-top: 20px;
    border-radius: 5px;

}

.Button{
    display: flex;
  
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}